# Binary directory
mcu/build.log

# VSCode
.vscode/

# CLion
.idea/

## MDK-ARM
#.MDK-ARM
DebugConfig
*uvguix*
*.o
*.d
*.hex
*.bin
*.elf
*.axf
*.crf
*.map
*.htm
*.lnp
*.dep
*.lst
*.scvd
*.iex
*.bat
*.Bak
*.__i
*.i
*.user
EventRecorderStub.scvd
#CLAUDE
CLAUDE.md
requirements.txt
.claude
main.uvguix.xuhao
__pycache__
